:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}
html
{

  zoom:60%;
}

.main-container {
  overflow: hidden;
}
/*
*{
padding:0;
margin:0;


}
*/
/*
.main-container,
.main-container * 
{
  box-sizing: border-box;
}
input,
select,
textarea,
button {
  outline: 0;
}
*/
.main-container {
  position: relative;
  /*width: 1565.93px;
  height: 3206px;*/
  width: 1565.93px;
  height: 4400px;

  margin: 0 auto;
}
.flex-row-acfe {
  position: relative;
 /* width: 1544.93px;
  height: 1024px;
  margin: 0 0 0 21px;*/
  z-index: 34;

  width: 1545px;
  height: 1024px;
  margin: 55px 0 0 8px;
}
.home {
  position: absolute;
  /*width: 1440px;
  height: 1024px;*/
  width: 1437px;
  height: 1032px;

  top: 0;
  left: 0;
  background: #ffffff;
  border: 1px solid grey;
  overflow: hidden;
  border-radius: 24px 0 0 24px;
  /*box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);*/
  box-shadow: 0 1px 15px 0 grey;
}
.flex-row-d {
  position: absolute;
  width: 1602px;
  height: 1075px;
  top: 18px;
  left: -64px;
  z-index: 16;

}
.group {
  position: absolute;
 width: 1030px;
  height: 1075px;
  top: 0;
  left: 0;
  /*width: 1028px;
  height: 1075px;
  top: 15px;
  left: -48px;*/


  background: url(./assets/images/de81c4bb-5dd6-416e-8f62-9740c39144e9.png)
  /*background: url(./assets/images/14e65246-94dd-46f0-8d8f-8973382abb86.png)*/
  no-repeat center;
  background-size: cover;
  z-index: 16;
}
.image {
  position: absolute;
  width: 637px;
  height: 601px;
  top: 27px;
  left: 824px;
  background: url(./assets/images/f93c21af329b653ead8e47f34433264a6259c107.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.smart-home {
  position: absolute;
  width: 631px;
  height: 184px;
  top: 50%;
  left: 127px;
  font-family: Judson, var(--default-font-family);
  font-size: 96px;
  font-weight: 700;
  line-height: 111.648px;
  text-align: center;
  transform: translate(0, -7.88%);
  z-index: 1;
  text-shadow: 0 16px 32px rgba(12, 12, 13, 0.4);
}
.smart-home-1 {
  position: relative;
  color: #9a8a8a;
  font-family: Judson, var(--default-font-family);
  font-size: 96px;
  font-weight: 700;
  line-height: 111.648px;
  text-align: center;
}
.empty {
  position: relative;
  color: #9a8a8a;
  font-family: Judson, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 111.648px;
  text-align: center;
}
.rectangle {
  position: absolute;
  width: 99px;
  height: 131px;
  top: 616px;
  left: 1503px;
  background: #d9d9d9;
  z-index: 11;
}
.ellipse {
  position: absolute;
  width: 122px;
  height: 118px;
  top: 682px;
  left: 376px;
  background: url(./assets/images/451d7149-5176-4e35-b5b5-4c3bc8b06cca.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}
.tk {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 61px;
  height: 48px;
  top: 722px;
  left: 407px;
  color: #000000;
  font-family: Kalnia, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  white-space: nowrap;
  z-index: 3;
}
.rectangle-2 {
  position: absolute;
  width: 99px;
  height: 124px;
  top: 722px;
  left: 1503px;
  background: #d9d9d9;
  z-index: 13;
}
.rectangle-3 {
  position: absolute;
  width: 99px;
  height: 122px;
  top: 724px;
  left: 1503px;
  background: #d9d9d9;
  z-index: 12;
}
.rectangle-4 {
  position: absolute;
  width: 99px;
  height: 114px;
  top: 732px;
  left: 1503px;
  background: #d9d9d9;
  z-index: 14;
}
.make-future {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 320px;
  height: 28px;
  top: 504px;
  left: 231px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 27.912px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 4.8px;
  z-index: 10;
  text-shadow: 0 16px 32px rgba(12, 12, 13, 0.4);
}
.group-5 {
  position: absolute;
  width: 320px;
  height: 42px;
  top: 843px;
  left: 213px;
  z-index: 4;
}
.vector {
  position: relative;
  width: 22.253px;
  height: 19.928px;
  margin: 7px 0 0 35.993px;
  background: url(./assets/images/45f115f7-8230-4d18-9182-a35f91014464.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 6;
}
.contact-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 320px;
  height: 42px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 27.912px;
  text-align: center;
  letter-spacing: 4.8px;
  z-index: 5;
}
.flex-row-ae {
  position: absolute;
  width: 298px;
  height: 35px;
  top: 883px;
  left: 225px;
  z-index: 8;

}
.group-6 {
  position: absolute;
  width: 274px;
  height: 35px;
  top: 0;
  left: 24px;
  z-index: 8;
}
.email {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 274px;
  height: 35px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 27.912px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  letter-spacing: 4.8px;
  z-index: 9;
  overflow: hidden;
}
.mail {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 2px;
  left: 0;
  background: url(./assets/images/405b3a7b-b8a2-48a4-9731-4d1ed55593ae.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
  overflow: hidden;
}
.rectangle-7 {
  position: absolute;
  width: 112px;
  height: 269.891px;
  top: 0;
  left: 1434px;
  font-size: 0px;
 /* background-color: #87f5ba;*/
  background: url(./assets/images/77e2457b-ff0b-48b8-9656-4dd8aa0e2f30.png)
    no-repeat center;
  background-size: cover;
  z-index: 34;
  border-radius: 0 35px 35px 0;
  border: 1px  solid grey;
  /*border-radius: 0 35px 35px 0;*/
  box-shadow: 0 4px 4px 0 rgba(48, 47, 47, 0.25);
  border-left:0.5px;

}
.rectangle-7:hover
{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  cursor:pointer;
  
}
.rectangle-71 {
  display:none;
  position: absolute;
  width: 112px;
  height: 269.891px;
  top: 0;
  left: 1434px;
  font-size: 0px;
 /* background-color: #87f5ba;*/
  background: url(./assets/images/77e2457b-ff0b-48b8-9656-4dd8aa0e2f30.png)
    no-repeat center;
  background-size: cover;
  z-index: 34;
  border-radius: 0 35px 35px 0;
  border: 1px  solid grey;
  /*border-radius: 0 35px 35px 0;*/
  box-shadow: 0 4px 4px 0 rgba(48, 47, 47, 0.25);
  border-left:0.5px;

}
.rectangle-71:hover
{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  cursor:pointer;
  
}

.login {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 55.465px;
  height: 22.822px;
  margin: 134.946px 0 0 20.169px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.822px;
  text-align: center;
  white-space: nowrap;
  z-index: 38;
}
.vector-8 {
  position: relative;
  width: 33.279px;
  height: 33.698px;
  margin: 11.907px 0 0 23.194px;
  background-color:#87f5ba;
  background: url(./assets/images/login.png)
  no-repeat center;
  background-size: 100% 100%;
  z-index: 36;
}
.vector-81 {
  position: relative;
  width: 33.279px;
  height: 33.698px;
  margin: 11.907px 0 0 23.194px;
  background-color:#87f5ba;
  background: url(./assets/images/logout.png)
  no-repeat center;
  background-size: 100% 100%;
  z-index: 36;
}







.rectangle-9 {
  position: absolute;
  width: 105.887px;
  height: 282.791px;
  top: 208.372px;
  left: 1439.042px;
  font-size: 0px;
  background-color: rgb(56, 204, 204);
  /*background: url(./assets/images/92ff7899-020f-4c1e-8a57-c90227d6900e.png)
    no-repeat center;
  background-size: cover;*/
  z-index: 32;
  border-radius: 0 0 35px 0;
  border: 1px solid grey;
  /*border-radius: 0 35px 35px 0;*/
  /*box-shadow: 0 4px 4px 0 rgba(64, 62, 62, 0.25);*/
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.rectangle-9:hover
{

  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  cursor:pointer;
}



.projet-brief {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 66.558px;
  height: 45.643px;
  margin: 104.186px 0 0 2.017px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.26px;
  text-align: center;
  z-index: 31;
}
.port-folio {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  /*width: 81.684px;
  height: 17.86px;
  margin: 12.907px 0 0 14.118px; */
  width: 66.558px;
  height: 45.643px;
  margin: 104.186px 0 0 2.017px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.26px;
  text-align: center;
  /*white-space: nowrap;*/
  z-index: 33;
}
.rectangle-a {
  position: absolute;
  width: 105.887px;
  height: 268.899px;
  top: 449.488px;
  left: 1439.042px;
  background: #2c9eef;
  border: 1px solid grey;
  z-index: 30;
  border-radius: 0 0 35px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.rectangle-a:hover{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  cursor:pointer;
}


.tank-monitor {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 85.718px;
  height: 45.643px;
  top: 133.946px;
  left: 7.068px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.26px;
  text-align: center;
  z-index: 39;
}
.rectangle-b {
  position: absolute;
  width: 105.887px;
  height: 290.729px;
  top: 672.744px;
  left: 1439.042px;
  background: #afc280;
  border: 1px solid grey;
  z-index: 29;
  border-radius: 0 0 35px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.rectangle-b:hover
{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  cursor:pointer;

}

.switch-cntrl {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 70.592px;
  height: 45.643px;
  top: 144.86px;
  left: 17.152px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.26px;
  text-align: center;
  z-index: 37;
}
.flex-row-ec {
  position: relative;
  width: 1538px;
  height: 1032px;
  margin: 55px 0 0 8px;
  z-index: 46;
}
.dashboard {
  position: absolute;
  width: 1437px;
  height: 1032px;
  top: 0;
  left: 0;
  background: #ffffff;
  border: 1px solid grey;
  z-index: 17;
  overflow: hidden;
  border-radius: 24px 0 0 24px;
  /*box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);*/
  box-shadow: 0 1px 15px 0 grey;
}
.group-c {
  position: absolute;
  width: 1028px;
  height: 1075px;
  /*top: 15px;
  left: -48px;*/
  top:18px;
  left:-65px;
  /*background: url(./assets/images/14e65246-94dd-46f0-8d8f-8973382abb86.png)*/
  background: url(./assets/images/de81c4bb-5dd6-416e-8f62-9740c39144e9.png)
    no-repeat center;
  background-size: cover;
  z-index: 26;
}
.image-esp8 {
  position: absolute;
  width: 600px;
  height: 320px;
  /*top: 95px;
  left: 763px;*/
  top: 150px;
  left:800px;
  background:url(./assets/images/ESP8266.png)
  /*background: url(./assets/images/6e3d5194-9321-4861-a18e-cf7e5f7c4b56.png)*/
    no-repeat center;
  background-size: cover;
  z-index: 25;
  
}



.image-esp {
  position: absolute;
  width: 460px;
  height: 420px;
  /*top: 95px;
  left: 763px;*/
  top: 500px;
  left:800px;
  background:url(./assets/images/ESP32.png)
  /*background: url(./assets/images/6e3d5194-9321-4861-a18e-cf7e5f7c4b56.png)*/
    no-repeat center;
  background-size: cover;
  z-index: 25;
  
}

.image-d {
  position: absolute;
  /*width: 551.073px;
  height: 506.487px;*/
  width:500px;
  height:450px;
  /*top: 95px;
  left: 763px;*/
  top: 0px;
  left:150px;
  background:url(./assets/images/SMART_HOME.png)
  /*background: url(./assets/images/6e3d5194-9321-4861-a18e-cf7e5f7c4b56.png)*/
    no-repeat center;
  background-size: cover;
  z-index: 25;
  
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 42px;
  top: 138px;
  left: 15px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 41.868px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.rectangle-e {
  position: absolute;
  width: 110px;
  height: 522px;
  top: 158px;
  left: 1261px;
  background: url(./assets/images/f1f37d91-fbb7-424b-8cfb-c18c5bac1e69.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}
.image-f {
  position: absolute;
  width: 597px;
  height: 573px;
  top: 251px;
  left: 741px;
  background: url(./assets/images/67af212a-0010-45d8-8017-4fca6910c7be.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}
.group-10 {
  position: absolute;
  width: 549px;
  height: 492px;
  top: 476px;
  left: 139px;
  font-size: 0px;
  z-index: 21;
}
.we-enable {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 157px;
  height: 28px;
  margin: 0 0 0 201px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 27.912px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 4.8px;
  z-index: 24;
  text-shadow: 0 16px 32px rgba(12, 12, 13, 0.4);
}
.automation-of-homes {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 549px;
  height: 59px;
  margin: 19px 0 0 0;
  color: #9a8a8a;
  font-family: Judson, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 55.824px;
  text-align: center;
  white-space: nowrap;
  z-index: 22;
  text-shadow: 0 16px 32px rgba(12, 12, 13, 0.4);
}
.minimum-investment-time {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 449px;
  height: 367px;
  margin: 19px 0 0 55px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: center;
  z-index: 23;
  text-shadow: 0 16px 32px rgba(12, 12, 13, 0.4);
}
.rectangle-11 {
  position: absolute;
  width: 112px;
  height: 272px;
  top: 0;
  left: 1434px;
  /*left: 1439.042px;*/
  background: url(./assets/images/565c53e1-3679-4d09-b4a9-801b275f30e0.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
  border-radius: 0 35px 35px 0;
  border: 1px  solid grey;
  /*border-radius: 0 35px 35px 0;*/
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-left:0.75px;

}
.rectangle-11:hover{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  cursor:pointer;
}

.home-12 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 54px;
  height: 23px;
  top: 136px;
  left: 28px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  z-index: 58;
}
.rectangle-13 {
  position: absolute;
  width: 105px;
  height: 285px;
  top: 210px;
  /*left: 1433px;*/
  left: 1439.042px;
  font-size: 0px;
  background-color: rgb(56, 204, 204);
 /*background: url(./assets/images/2362286a-a6ac-4905-a5ec-6feb563e6eb5.png)
    no-repeat center;
  background-size: cover;*/
  z-index: 44;
  border-radius: 0 0 35px 0;
  border: 1px solid grey;
  /*border-radius: 0 35px 35px 0;*/
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);


}
/*.rectangle-13:hover*
{

  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  /*cursor:pointer;
}  */

.project-brief {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 66px;
  height: 46px;
  margin: 105px 0 0 2px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.26px;
  text-align: center;
  z-index: 43;
}
.portfolio {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  /*width: 81px;
  height: 18px;
  margin: 13px 0 0 14px;*/
  width: 66px;
  height: 46px;
  margin: 105px 0 0 2px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  /*font-size: 16px;
  font-weight: 400;
  line-height: 18px;*/
  font-size: 20px;
  font-weight: 700;
  line-height: 23.26px;
  text-align: center;
  /*white-space: nowrap;*/
  z-index: 45;
}
.rectangle-14 {
  position: absolute;
  width: 105px;
  height: 271px;
  top: 453px;
  /*left: 1433px;*/
  left: 1439.042px;
  background: #2c9eef;
  border: 1px solid grey;
  z-index: 42;
  border-radius: 0 0 35px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.rectangle-14:hover
{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  cursor:pointer;
}


.tank-monitor-15 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 85px;
  height: 46px;
  top: 135px;
  left: 7px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.26px;
  text-align: center;
  z-index: 48;
}
.rectangle-16 {
  position: absolute;
  width: 105px;
  height: 293px;
  top: 678px;
  /*left: 1433px;*/
  left: 1439.042px;
  background: #afc280;
  border: 1px solid grey;
  z-index: 41;
  border-radius: 0 0 35px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.rectangle-16:hover
{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  cursor:pointer;
}

.switch-ctrl {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 70px;
  height: 46px;
  top: 146px;
  left: 17px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.26px;
  text-align: center;
  z-index: 47;
}
.flex-row {
  position: relative;
  /* width: 1546px;
  height: 1032px;
  margin: 63px 0 0 0; */
  z-index: 55;

  /*width: 1538px;*/
  width:1436px;
  height: 1032px;
  margin: 55px 0 0 8px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  /*box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);*/
  box-shadow: 0 1px 15px 0 grey;
  border-radius: 25px 0 0 25px;

}
.project-brief-17 {
  position: absolute;
  width: 1026px;
  height: 1075px;
 top:18px;
  left:-65px;
 /*background: url(./assets/images/20851e7c-4ed5-424a-bcba-dec7293b18cc.png) */
background: url(./assets/images/de81c4bb-5dd6-416e-8f62-9740c39144e9.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
  border-radius: 25px 0 0 25px;
}
.rectangle-18 {
  position: absolute;
  width: 112px;
  height: 272px;
  top: -2px;
  left: 1432px;
  background: url(./assets/images/34faf872-efcf-4ad0-a998-5e37d14a9503.png)
    no-repeat center;
  background-size: cover;
  z-index: 55;
  border-radius: 0 35px 35px 0;
  border: 1px  solid grey;
  /*border-radius: 0 35px 35px 0;*/
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-left:0.5px;
}
.rectangle-18:hover
{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  cursor:pointer;
}

.home-19 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 54px;
  height: 23px;
  top: 124px;
  left: 31px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  z-index: 59;
}
.rectangle-1a {
  position: absolute;
  width: 105px;
  height: 285px;
  top: 210px;
  /*left: 1431px;*/
  left: 1437.042px;
  font-size: 0px;
  background-color: rgb(56, 204, 204);
  /*background: url(./assets/images/ef088871-1dcf-42ee-9ba3-7e7541006102.png)
    no-repeat center;
  background-size: cover;*/
  z-index: 53;
  border-radius: 0 0 35px 0;
  border: 1px solid grey;
  /*border-radius: 0 35px 35px 0;*/
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}
.rectangle-1a:hover{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  cursor:pointer;
}


.project-brief-1b {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 66px;
  height: 46px;
  margin: 105px 0 0 2px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.26px;
  text-align: center;
  z-index: 52;
}
.port-folio-1c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  /*width: 81px;
  height: 18px;
  margin: 13px 0 0 14px;*/
  width: 66px;
  height: 46px;
  margin: 105px 0 0 2px;

  color: #000000;
  font-family: Judson, var(--default-font-family);
  /*font-size: 16px;
  font-weight: 400;
  line-height: 18px;*/
  font-size: 20px;
  font-weight: 700;
  line-height: 23.26px;

  text-align: center;
  /*white-space: nowrap;*/
  z-index: 54;

}
.rectangle-1d {
  position: absolute;
  width: 105px;
  height: 271px;
  top: 453px;
  /*left: 1431px;*/
  left: 1437.042px;
  background: #2c9eef;
  border: 1px solid grey;
  z-index: 51;
  border-radius: 0 0 35px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
/*.rectangle-1d:hover
{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  cursor:pointer;
} */


.tank-monitor-1e {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 85px;
  height: 46px;
  top: 135px;
  left: 7px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.26px;
  text-align: center;
  z-index: 57;
}
.rectangle-1f {
  position: absolute;
  width: 105px;
  height: 293px;
  top: 678px;
  /*left: 1431px;*/
  left: 1437.042px;
  background: #afc280;
  border: 1px solid grey;
  z-index: 50;
  border-radius: 0 0 35px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.rectangle-1f:hover
{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  cursor:pointer;
}

.switch-ctrl-20 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 70px;
  height: 46px;
  top: 146px;
  left: 17px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.26px;
  text-align: center;
  z-index: 56;
}

.flex-row1{
  position: relative;
  /* width: 1546px;
  height: 1032px;
  margin: 63px 0 0 0; */
  z-index: 55;
color:gray;
  /*width: 1538px;*/
  width:1436px;
  height: 1032px;
  margin: 55px 0 0 8px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  /*box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);*/
  box-shadow: 0 1px 15px 0 grey;
  border-radius: 24px 0 0 24px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.project-brief-171 {
  position: absolute;
  width: 1026px;
  height: 1075px;
 top:18px;
  left:-65px;
 /*background: url(./assets/images/20851e7c-4ed5-424a-bcba-dec7293b18cc.png) */
background: url(./assets/images/de81c4bb-5dd6-416e-8f62-9740c39144e9.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
  border-radius: 25px 0 0 25px;
}

.rectangle-181 {
  position: absolute;
  width: 112px;
  height: 272px;
  top: -2px;
  left: 1432px;
  background: url(./assets/images/34faf872-efcf-4ad0-a998-5e37d14a9503.png)
    no-repeat center;
  background-size: cover;
  z-index: 55;
  border-radius: 0 35px 35px 0;
  border: 1px  solid grey;
  /*border-radius: 0 35px 35px 0;*/
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-left:0.5px;
}
.rectangle-181:hover
{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  cursor:pointer;
}
.home-191 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 54px;
  height: 23px;
  top: 124px;
  left: 31px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  z-index: 59;
}
.rectangle-1a1 {
  position: absolute;
  width: 105px;
  height: 285px;
  top: 210px;
  /*left: 1431px;*/
  left: 1437.042px;
  font-size: 0px;
  background-color: rgb(56, 204, 204);
  /*background: url(./assets/images/ef088871-1dcf-42ee-9ba3-7e7541006102.png)
    no-repeat center;
  background-size: cover;*/
  z-index: 53;
  border-radius: 0 0 35px 0;
  border: 1px solid grey;
  /*border-radius: 0 35px 35px 0;*/
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.rectangle-1a1:hover{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  cursor:pointer;
}

.port-folio-1c1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  /*width: 81px;
  height: 18px;
  margin: 13px 0 0 14px;*/
  width: 66px;
  height: 46px;
  margin: 105px 0 0 2px;

  color: #000000;
  font-family: Judson, var(--default-font-family);
  /*font-size: 16px;
  font-weight: 400;
  line-height: 18px;*/
  font-size: 20px;
  font-weight: 700;
  line-height: 23.26px;

  text-align: center;
  /*white-space: nowrap;*/
  z-index: 54;

}
.rectangle-1d1 {
  position: absolute;
  width: 105px;
  height: 271px;
  top: 453px;
  /*left: 1431px;*/
  left: 1437.042px;
  background: #2c9eef;
  border: 1px solid grey;
  z-index: 51;
  border-radius: 0 0 35px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.rectangle-1d1:hover
{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  cursor:pointer;
}
.tank-monitor-1e1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 85px;
  height: 46px;
  top: 135px;
  left: 7px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.26px;
  text-align: center;
  z-index: 57;
}
.rectangle-1f1 {
  position: absolute;
  width: 105px;
  height: 293px;
  top: 678px;
  /*left: 1431px;*/
  left: 1437.042px;
  background: #afc280;
  border: 1px solid grey;
  z-index: 50;
  border-radius: 0 0 35px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
/*.rectangle-1f1:hover
{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border:6px grey;
  cursor:pointer;
} */
.switch-ctrl-201 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 70px;
  height: 46px;
  top: 146px;
  left: 17px;
  color: #000000;
  font-family: Judson, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 23.26px;
  text-align: center;
  z-index: 56;
}



.section 
{
    display: none;
}
.section.active
{
    display:block;

}
.hidden 
{
  display: none;
}



input[type="range"]
{
  width:215px;
  transform: rotate(270deg);
  
}

#container {
padding : 10px 5px 10px 5px;
  height: 289px;
  margin:auto;
  position: relative;
  width: 240px;
}
#container div { position: absolute; }


.MAX{
  position: relative;
  top: 200px ;
  right: -35% ;
  margin:auto;
font-size:10px;
  }
.MIN{
  position: relative;
  top: 200px ;
  left: -50% ;
  margin:auto ;
  font-size:10px;
 }
 
#beaker {
  border: 5px solid #000;
  border-top: 10;
  border-radius: 50px 50px 10px 10px;
  height: 280px;
  overflow: hidden;
  left: 0;
  bottom: 0;
  width: 200px;
  text-align: center;
  color:grey;
  font-size:20px;
font-family: Tahoma, sans-serif;
  
  }

#liquid {
  background-color: #99CCFF;
  border: 5px solid #99ccff;
  border-radius: 0 0 10px 10px;
  bottom: 6px;
  max-height:200px;
  overflow: hidden;
  width: 190px;
}

#liquid:before {
  background-color: rgba(255, 255, 255,0.75);
  bottom: 1px;
    content: '';
  height: 200px;
  left: -105px;
  position: absolute;
  transform: rotate(0deg);
  width: 110px;
}
#liquid:after {
  background-color: #1aa3ff;
  bottom: 1px;
  content: '';
  height: 200px;
  right: -170px;
  position: absolute;
  transform: rotate(0deg);
  width: 200px;
}
#lid {  
  border: 2px solid #000;
  height: 10px;
  width: 100px;
  top:5px;
  left:50px;
  bottom:200px;
}
P{
Position:relative;
top :85px;
left:98px;
}
#MIN_display{
Position:relative;
background:#2ecc71;
border:4px solid grey;
top :230px;
left:115px;
}
#MAX_display{
Position:relative;
border:4px solid grey;
background:#F00;
top :230px;
left:101px;
}



.beforeAnimation {
  -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
}
.afterAnimation {
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, 0.04), 0 4px 9px hsla(0, 0%, 0%, 0.13), 0 3px 3px hsla(0, 0%, 0%, 0.05);
  -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
}
.toggleWrapper {
  margin: auto;
  padding: 2px 20px 2px 20px;
  width: 25px;
  height:20px;
  border: 4px solid gray;
  margin-top:40px;
  margin-left: 150px;
  border-radius: 5px;
  background: #edf1ff;
}
.toggleWrapper input.mobileToggle {
  opacity: 0;
  position: absolute;
  
}
.toggleWrapper input.mobileToggle + label {
  position: relative;
  display: inline-block;
  user-select: none;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-tap-highlight-color: transparent;
  height: 18px;
  width: 18px;
  margin-left:-1px;
  border: 1px solid #e4e4e4;
  border-radius: 60px;
}
.toggleWrapper input.mobileToggle + label:before {
  content: "";
  position: absolute;
  display: block;
  -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  height: 15px;
  width: 40px;
  top: 1px;
  left: -5px;
  background: #2ecc71;
  border-radius: 30px;
  content:"..OFF";
}
.toggleWrapper input.mobileToggle + label:after {
  content: "";
  position: absolute;
  display: block;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, 0.04), 0 4px 9px hsla(0, 0%, 0%, 0.13), 0 3px 3px hsla(0, 0%, 0%, 0.05);
  -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -webkit-transition: 0.25s cubic-bezier(0.54, 1.6, 0.5, 1);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  background: silver;
  height: 15px;
  width: 15px;
  top: 1px;
  left: -8px;
  border-radius: 60px;
 
}
.toggleWrapper input.mobileToggle:checked + label:before {
  background:red ;
  content:"ON";
  -moz-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
  -o-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
  -webkit-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
  transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);

}
.toggleWrapper input.mobileToggle:checked + label:after {
  left: 24px;
}
.switch {
background-color:#edf1ff;
Position:relative;
font-size:8px;
color: grey;
height:9px;
margin-top:30px;
margin-left:165px;
border-radius:2px;
border: 1px solid gray;
}

#tank_height{
position:relative;
  background: #edf1ff;
   font-size:15px;
position:relative;
width : 60px;
height: 22px;
border-radius:5px;
border: 4px solid gray;
 }
.tank_h{
position:relative;
background: #edf1ff;
Position:relative;
color:#708090;
margin-top:42px;
margin-left:500px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:50px;
  Margin-left:-300px;

}

.motor {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 50%;
    background-color:#99CCFF;
  overflow: hidden;
  }
  .spindle{
  position: absolute;
  top:50%;
  left: 50%;
  width: 6px;
  height: 6px;
    transform: translate(-50%, -50%);
  border: 2px solid #FFF;
  border-radius: 50%;
  background-color: #000;
}

.rotor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  transform: translate(-50%, -50%);
  background-color: #F00;
  animation: rotate .2s linear infinite;
  animation-play-state: paused;
}

@keyframes rotate {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}
.vl1 {
  border-left: 10px double grey;
background-color: #1aa3ff;
  border-width:5px;
  height: 286px;
  position: absolute;
  left: -15%;
  margin-left: 0px;
  top: 25%;
}
.vl6 {
  border-left: 10px double grey;
background-color: #1aa3ff;
  border-width:10px;
  height: 10px;
  position: absolute;
  left: -16%;
  margin-left: 0px;
  top: 110%;
}

.hl1 {
  border-top: 5px double grey;
background-color: #1aa3ff;
  width:42px;
  height: 0px;
  position: relative;
  left: -15%;
  margin-left: 0px;
  top: 25%;
}
.hl2 {
  border-bottom: 5px double grey;
background-color: #1aa3ff;
  width:60px;
  height: 0px;
  position: relative;
  left: -50%;
  margin-left: 100px;
  top: 123%;
  }

.hl7 {
  border-bottom: 11px double grey;
background-color: #1aa3ff;
  width:10px;
  height: 0px;
  position: relative;
  left: -39%;
  margin-left: 100px;
  top: 122%;
  }




.vl2 {
  border-left: 5px double grey;
background-color: #1aa3ff;
  border-width:5px;
  height: 70px;
  position: absolute;
  left: 15%;
  margin-left: -3px;
  top: 123%;
}
.vl3 {
  border-left: 10px double grey;
background-color: #1aa3ff;
  border-width:5px;
  width:10;
  height: 52px;
  position: absolute;
  left: 70%;
  margin-left: -3px;
  top: 99%;
}
.hl3 {
  border-bottom: 5px double grey;
 background-color: black;
  width:20px;
  height: 4px;
  position: relative;
  left: 70%;
  margin-left: -3px;
  top: 115%;
  }
.vl4 {
  border-left: 10px double grey;
background-color: #1aa3ff;
  border-width:5px;
  height: 95px;
  position: absolute;
  left: 70%;
  margin-left: -3px;
  top: 115%;
}

.vl5 {
  border-left: 10px double black;
background-color: black;
  border-width:5px;
  width:10;
  height: 20px;
  position: absolute;
  left: 77%;
  margin-left: -3px;
  top: 113%;
}

.hl4 {
Position:absolute;
border:1px solid black;
  width:700px;
  height:0px;
  left: -100%;
  top: 145%;
 
  }
.hl5 {
border:1px solid black;
opacity:1;
  width:700px;
  height:0px;
  left: -100%;
  top: 170%;
 
  }
 .hl6 {
opacity:1;
  width:700px;
  height:0px;
  left: -100%;
  top: 171%;
  font-size:12px;
 font-family:serif;
  } 
.inline{
  margin-top:2px;
  margin-left:260px;
  background-color: #99CCFF;
  width: 195px;
  height: 30px;
  text-align: center;
  color: white;
  font-size:17px;
font-family: Tahoma, sans-serif;
border-radius:5px;
border: 2px solid gray;
 }
 
 .inline2{
  margin-top:40px;
  margin-left:260px;
  background-color:#99CCFF;
  width: 195px;
  height: 30px;
  text-align: center;
  color:white;
  font-size:15px;
font-family: Tahoma, sans-serif;
border-radius:5px;
border: 2px solid gray;
 }
 
 
  .inline1{
  margin-top:32px;
  margin-left:512px;
    background-color:#edf1ff;
color: grey;
  width: 40px;
  height: 9px;
   font-size:8px;
  border-radius:2px;
border: 1px solid gray;
 }
#container
 {
z-index:54;

 }


 #loginContainer
 {
z-index:18;

 }
 .login-container {
  display: none; /* Hidden by default */
  margin-left:900px;
  margin-top:650px;
  width: 300px;
  padding: 20px;
  /*background-color: #fff;*/
  background-color: #87f5ba;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  opacity: .4;

}
.login-container:hover
{
  opacity: 1;

}
.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}
.input-field {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.login-btn, .open-login-btn {
  width: 100%;
  padding: 10px;
  /*background-color: #4CAF50;*/
  background-color: #1aa3ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}
.login-btn:hover, .open-login-btn:hover {
  background-color: #45a049;
}
.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
#login1
{
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 100vh;*/
    margin: 0;
    font-family: Arial, sans-serif;

}


.DRSWITCH
{
margin-top:100px;
margin-left:250px;  
color:rgb(214, 212, 212);
font-size: 10px;
font-family:Arial, Helvetica, sans-serif;
Width: 340px;
height:180px;
color:#74ffb5;
/*background-color:rgb(255, 255, 255);*/
background-color: rgb(115, 113, 113);
border-color: rgb(250, 248, 248);
border-width: .5px;
border-style: solid;
/*background-color: #e4e6ea;*/
text-align:center; 
box-shadow: 0 1px 15px 0 rgb(118, 109, 109);
border-radius: 10px;

}
.Dsw1{
Display :flex;
flex-direction: column;
align-items: center;
float:left;
margin-left:20px;
/*box-shadow: 0 1px 15px 0 grey;*/

}
#swimg1
{
  z-index:75;
box-shadow: 0 1px 15px 0 grey;

}
.Dsw1:hover
{
cursor: pointer;

}

.Dsw2{
  Display :flex;
  flex-direction: column;
  align-items: center;
  float:left;
  
  /*box-shadow: 0 1px 15px 0 grey;*/
}
#swimg2
{

box-shadow: 0 1px 15px 0 grey;
z-index:75;
}
.Dsw2:hover
{
cursor: pointer;

}


.Dsw3{
  Display :flex;
flex-direction: column;
align-items: center;
float:left;
z-index: 101;
/*box-shadow: 0 1px 15px 0 grey;*/
  }
  .Dsw3:hover
  {
  cursor: pointer;
  
  }

  

  #swimg3
  {
  
  box-shadow: 0 1px 15px 0 grey;
  z-index:75;
  }

  .Dsw4{
    Display :flex;
flex-direction: column;
align-items: center;
float:left;
margin-right: 5px;
z-index: 101;
/*box-shadow: 0 1px 15px 0 grey;*/
  }
  .Dsw4:hover
  {
  cursor: pointer;
  
  }

  #swimg4
  {
  
  box-shadow: 0 1px 15px 0 grey;
  z-index:75;
  }

  .Dsw5{
    Display :flex;
  flex-direction: column;
  align-items: center;
  float:left;
  margin-right:4px;
  z-index: 101;
  /*box-shadow: 0 1px 15px 0 grey;*/
    }
    .Dsw5:hover
    {
    cursor: pointer;
    
    }


    #swimg5
    {
    box-shadow: 0 1px 15px 0 grey;
    z-index: 75;
    }

    .Dsw6{
      Display :flex;
  flex-direction: column;
  align-items: center;
  float:left;
 
  /*box-shadow: 0 1px 15px 0 grey;*/
    } 
    .Dsw6:hover
    {
    cursor: pointer;
    
    }

    #swimg6
    {
    
    box-shadow: 0 1px 15px 0 grey;
    z-index:75;
    }

/*.dl
{
  position: absolute;
  top:300px;
  Width: 340px;
  height:70px;
  color:#fff;
  background-color: rgb(116, 112, 112);
  border-color: rgb(110, 107, 107);
  border-width: 1px;
  border-style: solid;
  /*background-color: #e4e6ea;*/
  /*text-align:center; 
  box-shadow: 0 1px 15px 0 grey;
  border-radius: 5px;
} */

.Dl1{
      Display :flex;
      flex-direction: column;
      align-items: center;
      float:left;
    /*margin-left:5px;*/
    margin-top:10px;

      }
      .Dl2{
        Display :flex;
        flex-direction: column;
        align-items: center;
        float:left;
        /*margin-left:30px;*/
        margin-top:10px;
      }
      .Dl3{
        Display :flex;
      flex-direction: column;
      align-items: center;
      float:left;
      /*margin-left:30px;*/
      margin-top:10px;
        }
        .Dl4{
          Display :flex;
      flex-direction: column;
      align-items: center;
      float:left;
      /*margin-left: 25px;*/
      margin-top:10px;
        }
        .TV1{
          Display :flex;
      flex-direction: column;
      align-items: center;
      float:left;
      /*margin-left:20px;*/
      margin-top:10px;
        }
        .SND{
          Display :flex;
      flex-direction: column;
      align-items: center;
      float:left;
      /*margin-left:10px;*/
      margin-top:10px;
        }

    .soswitch
  {
    margin-top:100px;
    margin-left:250px;   
    color:grey;
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;
    Width: 340px;
    height:180px;
    color:#74ffb5;
    /*background-color:rgb(255, 255, 255);*/
    background-color: rgb(115, 113, 113);
    border-color: rgb(250, 248, 248);
    border-width: .5px;
    border-style: solid;
    /*background-color: #e4e6ea;*/
    text-align:center; 
    box-shadow: 0 1px 15px 0 rgb(118, 109, 109);
    border-radius: 10px;
  }
  .sosw1{
    Display :flex;
    flex-direction: column;
    align-items: center;
    float:left;
    margin-left:20px;
 /* box-shadow: 0 1px 15px 0 grey;*/
  }
  .sosw1:hover
    {
    cursor: pointer;
    }


  #soswimg1
  {
  box-shadow: 0 1px 15px 0 grey;
  z-index:75;
  }
  .sosw2{
    Display :flex;
    flex-direction: column;
    align-items: center;
    float:left;
   /* box-shadow: 0 1px 15px 0 grey;*/
  }
  .sosw2:hover
  {
  cursor: pointer;
  }
  #soswimg2
  {
  box-shadow: 0 1px 15px 0 grey;
  z-index:75;
  }
  .sosw3{
    Display :flex;
  flex-direction: column;
  align-items: center;
  float:left;
  /*box-shadow: 0 1px 15px 0 grey;*/
    }
    .sosw3:hover
    {
    cursor: pointer;
    }

    #soswimg3
    {
    box-shadow: 0 1px 15px 0 grey;
    z-index:75;
    }
    .sosw4{
      Display :flex;
  flex-direction: column;
  align-items: center;
  float:left;
  margin-right: 5px;
  /*box-shadow: 0 1px 15px 0 grey;*/
    }
    .sosw4:hover
    {
    cursor: pointer;
    }
    #soswimg4
    {
    box-shadow: 0 1px 15px 0 grey;
    z-index:75;
    }
    .sosw5{
      Display :flex;
    flex-direction: column;
    align-items: center;
    float:left;
    /*box-shadow: 0 1px 15px 0 grey;*/
      }
      .sosw5:hover
      {
      cursor: pointer;
      }
      #soswimg5
      {
      box-shadow: 0 1px 15px 0 grey;
      z-index:75;
      }

      .sosw6{
        Display :flex;
    flex-direction: column;
    align-items: center;
    float:left;
    /*box-shadow: 0 1px 15px 0 grey;*/
      } 
      .sosw6:hover
      {
      cursor: pointer;
      }


      #soswimg6
      {
      box-shadow: 0 1px 15px 0 grey;
      z-index:75;
      }


      
      .SOl1{
        Display :flex;
        flex-direction: column;
        align-items: center;
        float:left;
      /*margin-left:5px;*/
      margin-top:15px;
      
      /*margin-top:15px;*/
        }
        .SOl2{
          Display :flex;
          flex-direction: column;
          align-items: center;
          float:left;
         
          margin-top:15px;
        }
        .SOl3{
          Display :flex;
        flex-direction: column;
        align-items: center;
        float:left;
        
        margin-top:15px;
          }
          .SOl4{
            Display :flex;
        flex-direction: column;
        align-items: center;
        float:left;
       
        margin-top:15px;
          }
          .SOl5{
            Display :flex;
        flex-direction: column;
        align-items: center;
        float:left;
       
        margin-top:15px;
          }
          .SOl6{
            Display :flex;
        flex-direction: column;
        align-items: center;
        float:left;
       
        margin-top:15px;
          }

          .entrswitch
          {
            margin-top:100px;
            margin-left:250px;  
            color:grey;
            font-size: 10px;
            font-family:Arial, Helvetica, sans-serif;
            Width: 250px;
            height:180px;
            color:#74ffb5;
/*background-color:rgb(255, 255, 255);*/
background-color: rgb(115, 113, 113);
border-color: rgb(250, 248, 248);
            border-width: .5px;
            border-style: solid;
            /*background-color: #e4e6ea;*/
            text-align:center; 
            box-shadow: 0 1px 15px 0 grey;
            border-radius: 9px;
          }
          .entrsw1{
          Display :flex;
          flex-direction: column;
          align-items: center;
          float:left;
          margin-left:20px;
         
          }
          .entrsw1:hover
          {
          cursor: pointer;
          }

          #entrswimg1
          {
          box-shadow: 0 1px 15px 0 grey;
          z-index:75;
          }

          .entrsw2{
            Display :flex;
            flex-direction: column;
            align-items: center;
            float:left;

          }
          .entrsw2:hover
          {
          cursor: pointer;
          }


          #entrswimg2
          {
          box-shadow: 0 1px 15px 0 grey;
          z-index:75;
          }

          .entrsw3{
            Display :flex;
          flex-direction: column;
          align-items: center;
          float:left;
      
            }
            .entrsw3:hover
            {
            cursor: pointer;
            }

            #entrswimg3
            {
            box-shadow: 0 1px 15px 0 grey;
            z-index:75;
            }

            .entrsw4{
              Display :flex;
          flex-direction: column;
          align-items: center;
          float:left;
          margin-right: 5px;
       
            }
            .entrsw4:hover
            {
            cursor: pointer;
            }

            #entrswimg4
            {
            box-shadow: 0 1px 15px 0 grey;
            z-index:75;
            }

            .entrsw5{
              Display :flex;
      
            flex-direction: column;
            align-items: center;
            float:left;
            
          
              }
              .entrsw6{
                Display :flex;
            flex-direction: column;
            align-items: center;
            float:left;
            margin-right: 5px;
              }

              
              .entrl1{
                Display :flex;
                flex-direction: column;
                align-items: center;
                float:left;
             
              margin-top:10px;
                }
                .entrl2{
                  Display :flex;
                  flex-direction: column;
                  align-items: center;
                  float:left;
                 
                  margin-top:10px;
                }
                .entrl3{
                  Display :flex;
                flex-direction: column;
                align-items: center;
                float:left;
              
                margin-top:10px;
                  }
                  .entrl4{
                    Display :flex;
                flex-direction: column;
                align-items: center;
                float:left;
              
                margin-top:10px;
                  }
 

              .louver
              {
                position:absolute;
                display:block;
                flex-direction: row;
                margin-top:85px;
                margin-left:250px;    
                Width:345px;
                height:180px;
                border-color: rgb(110, 107, 107);
                border-width: 1px;
                border-style: solid;
                background-color: #e4e6ea;
                text-align:center; 
                box-shadow: 0 1px 15px 0 grey;
                border-radius: 15px;
                /*color:#6fffb2;*/
                font-size: 12px;
              } 
              
              .breakerC {
                display:inline-block;
                cursor: pointer;
                position: absolute;
                margin-left: 10px;
                margin-top:10px;
                display: grid;
                width: 70px;
                height:160px;
                background-color: rgb(116, 112, 112);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                border-radius: 9px;
                color:rgb(115, 250, 133);
                place-items: center;
                text-align: center;
                
                      }

              .breakerF {
                display:inline-block;
                cursor: pointer;
                position: absolute;
                margin-left: 95px;
                margin-top:10px;
                display: grid;
                width: 70px;
                height:160px;
          
                background-color: rgb(116, 112, 112);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                color:#8cd1ff;
                border-radius: 9px;
                place-items: center;
                text-align: center;
                      }
                      .breakerD {
                        display:inline-block;
                        cursor: pointer;
                        position: absolute;
                        margin-left: 178px;
                        margin-top:10px;
                        display: grid;
                        width: 70px;
                        height:160px;
                        background-color: rgb(116, 112, 112);
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                        border-radius: 8px;
                        color:rgb(255, 169, 245);
                        place-items: center;
                        text-align: center;
                        
                              }
                              .breakerL {
                                display:inline-block;
                                cursor: pointer;
                                position: absolute;
                                margin-left: 262px;
                                margin-top:10px;
                                display: grid;
                                width: 70px;
                                height:160px;
                                background-color: rgb(116, 112, 112);
                                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                                border-radius: 8px;
                                color:rgb(255, 178, 140);
                                place-items: center;
                                text-align: center;
                             
                                      }
              .louverM
              {
                position:absolute;
                display:block;
                flex-direction: row;
                margin-top:85px;
                margin-left:250px;  
                Width:90px;
                height:180px;
                border-color: rgb(110, 107, 107);
                border-width: 1px;
                border-style: solid;
                background-color: #e4e6ea;
                text-align:center; 
                box-shadow: 0 1px 15px 0 grey;
                border-radius: 15px;
                color:#6fffb2;
                font-size: 12px;
              } 
              .breakerM {
                display:inline-block;
                cursor: pointer;
                position: absolute;
                margin-left: 10px;
                margin-top:10px;
                display: grid;
                width: 70px;
                height:160px;
                background-color: rgb(116, 112, 112);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                border-radius: 8px;
                color:rgb(255, 239, 131);
                place-items: center;
                text-align: center;
                
                      }
                      .el_parameter
                      {
                        position:absolute;
                        display:block;
                        flex-direction: row;
                        top:230px;
                        margin-left:5px;  
                        Width:345px;
                        height:180px;
                        border-color: rgb(110, 107, 107);
                        border-width: 1px;
                        border-style: solid;
                        background-color: #e4e6ea;
                        text-align:left; 
                        box-shadow: 0 1px 15px 0 grey;
                        border-radius: 15px;
                        color:rgb(116, 112, 112);
                        font-size: 12px;
                      } 
                      .meterV
                      {
                      position: absolute;
                      display: grid;
                      width: 150px;
                      height:150px;
                      background-color:#363737;
                      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                      border-radius: 8px;
                      place-items: center;
                      text-align: center;
                      top:410px;
                      left:250px;
                      font-size: 12px;
                      color:#ffffff;
                      }
                      .meterA
                      {
                      position: absolute;
                      display: grid;
                      width: 150px;
                      height:150px;
                      background-color:#363737;
                      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                      border-radius: 8px;
                      place-items: center;
                      text-align: center;
                      top:410px;
                      left: 420px;
                      font-size: 12px;
                      color:#ffffff;
                      }
                    
                      .pln
                      {
                        position:absolute;
                        display:block;
                        flex-direction: row;
                        top:150px;
                        margin-left:600px;  
                        Width:780px;
                        height:700px;
                        /*top:10px;
                        margin-left:10px; 
                        Width:1400px;
                        height:1000px;*/

                        border-color: rgb(110, 107, 107);
                        border-width: 1px;
                        border-style: solid;
                        background-color: #f9fcff;
                        text-align:center; 
                        justify-content: center;
                        justify-items: center;
                        box-shadow: 0 1px 15px 0 grey;
                        border-radius: 15px;
                        color:#6fffb2;
                        font-size: 12px;
                      }
                     #planimg
                      {
                        background: transparent;
                        border-radius: 9px;
                      }



.Switch
{
   display: none;
}
.Switch.active
{
    display:block;

}


.DR_Area
{
  position:absolute;
top:335px;
margin-left:437px;
background-color: red;
height: 148px;
width:150px;
z-index: 100;
opacity:0.4;
}
.DR_Area:hover
{

 cursor: pointer; 
}
.SO_Area
{
  position:absolute;
top:495px;
margin-left:380px;
background-color: rgb(0, 255, 183);
height: 123px;
width:210px;
z-index: 100;
opacity:0.4;
}
.SO_Area:hover
{

 cursor: pointer; 
}
.ENTR_Area
{
  position:absolute;
top:450px;
margin-left:380px;
background-color: rgb(162, 0, 255);
height: 40px;
width:49px;
z-index:75;
opacity:0.4;
}
.ENTR_Area:hover
{

 cursor: pointer; 
}
.CENTRL_Courtyard
{
  position:absolute;
top:220px;
margin-left:280px;
background-color: rgb(115, 250, 133);
height: 65px;
width:100px;
z-index:75;
opacity:0.4;
}
.CENTRL_Courtyard:hover
{

 cursor: pointer; 
}
.FRST_Floor_L
{
  position:absolute;
top:600px;
margin-left:150px;
background-color:#1aa3ff;
height: 30px;
width:225px;
z-index:75;
opacity:0.4;
}
.FRST_Floor_L:hover
{

 cursor: pointer; 
}
.PORTICO_C
{
  position:absolute;
top:310px;
margin-left:150px;
background-color: rgb(250, 4, 221);
height: 138px;
width:15px;
z-index:75;
opacity:0.4;
}
.PORTICO_C:hover
{

 cursor: pointer; 
}
.LIVING_C
{
  position:absolute;
top:65px;
margin-left:280px;
background-color: rgb(196, 65, 0);
height: 145px;
width:15px;
z-index:75;
opacity:0.7;
}
.LIVING_C:hover
{

 cursor: pointer; 
}
.MBD_C
{
  position:absolute;
top:230px;
margin-left:670px;
background-color: rgb(159, 138, 3);
height: 35px;
width:36px;
z-index:75;
opacity:0.4;
z-index:76;
}
.MBD_C:hover
{

 cursor: pointer; 
}